target
.classpath
.project
.settings

.DS_Store
*.iml

.idea/dictionaries
.idea/libraries
.idea/scopes
.idea/.name
.idea/vcs.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/java.iml
.idea/misc.xml