/target
/servers
.classpath
.project
.settings

.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/libraries/

nb-configuration.xml
.DS_Store
/thng-resource-model/target/
/evrythng-java-wrapper/target/
/evrythng-commons/target/
*.versionsBackup
nbactions*.xml
*.iml
