/target
/servers
.classpath
.project
.settings
.idea
!.idea/codeStyleSettings.xml
nb-configuration.xml
.DS_Store
/thng-resource-model/target/
/evrythng-java-wrapper/target/
/evrythng-commons/target/
*.versionsBackup
nbactions*.xml
*.iml
